<form action="/pizzas" method="POST">

  <label for="customer">Customer:</label>
  <select name="customer_id" id="customer">
    <% for customer in @customers %>
      <option value="<%= customer.id %>">
        <%= customer.pretty_name() %>
      </option>
    <% end %>
  </select>

  <label for="pizza-topping">Topping:</label>
  <select name="topping" id="pizza-topping">
    <option selected disabled value="">Please select a topping</option>

      <% for topping in @toppings %>
        <option value="<%= topping %>"><%= topping %></option>
      <% end %>

  </select>

  <label for="order-quantity">Quantity:</label>
  <input type="number" min="1" id="order-quantity" name="quantity">

  <input required type="submit" value="Order Pizza">

</form>
