html {
    height: 100%;
    background-position: center;
}
body {
    background-color: #5ab657;
    background-image: url(images/The-symbolic-beginning-of-the-nigredo-stage-rendered-by-dark-green-colour-palette-at.png);
    background-size: cover;
    background-repeat: none;
    width: 1024;
    
}
header {
    /* background-color: rgb(119, 91, 55); */
    height: 118px;
    text-align: center;
    display: flex;
    font-family: Barriecito;
}
img {
    height: 75px;
    width:auto;
    vertical-align: bottom;
}
#photo {
    height: 310px;
    
    width: auto;
    text-align: center;
    justify-self: auto;

}
nav {
    background-color: rgba(192, 30, 30, 0.322);
    /* height: 40px; */
    width: 1024px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    /* background-color: orange;  */
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Barriecito;
}
section {
    height: auto;
    text-align: center;
    padding-right: 100px;
}
.videos {
    width: 1024px;
}



footer {
    background-color: rgba(90, 9, 9, 0.185);
    font-family: Barriecito;
    position: relative;
  
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
h1 {
    font-size: 60px;
    color: rgb(226, 205, 166);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Barriecito;

}
h3 {
    font-size: 40px;
    color:rgb(226, 205, 166);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Barriecito;
}

h4 {
    font-size: 20px;
    color:rgb(226, 205, 166);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Barriecito;
}

p {
    font-size: 18px;
    color:  rgb(226, 205, 166);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Barriecito";
}
a {
    color:  rgb(226, 205, 166);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 18px;
    /* text-decoration: none; */
}
nav a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Barrio;
}
footer p {
    font-size: 14px;
    color:  rgb(226, 205, 166);
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Barriecito;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    max-width: 960px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 40px;
}
.boxOne{
   justify-self: self-start;
    align-self: flex-start;
    margin: 3px 3px 3px 3px;
    border-style: solid;
    /* border-color:rgba(90, 9, 9, 0.418); */
    color:  rgb(226, 205, 166);
    border-width: 5px;
    border-radius: 3px;

}
.boxTwo{
    justify-items: self-end;
    align-self: flex-start;
    text-align: center;
    
}
    


.wrapper1{
    display: grid;
    grid-template-columns:200px 800px ;
    gap: 20px;
    max-width: 600px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 40px;
 
}

.one {
    justify-self: last baseline;
    align-self: flex-start;
    max-width: 400px;
   
}
.two {
    justify-self: self-start;
    align-self: center;
  
}


.three {
    justify-self: baseline;
    align-self: start;
    max-width: 400px;


}
.four{
    justify-self: self-start;
    align-self: center;
}
.five{
    justify-self: center;
    align-self: center;
}
.six{
    justify-self: center;
    align-self: center;
}
ul {
    font-size: 18px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: Barriecito;
    color:rgb(226, 205, 166); 
    list-style-type: none;
    justify-content: left;
}
label, input, textarea {
    display: block;
    color:rgb(226, 205, 166);
    font-size: 25px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
input[type=text], [type=email]{
    color:black
}
textarea {
    color: black;
}
button {
    font-size: 25px;
    font-family: Barriecito;
}
.mainContact {
    text-align: left;
}
.pianistBody {
    background-size: auto;
    background-repeat: none;
    background-size: 100%;
}
