html {
    height: 100%;
    background-position: center;
}
body {
    background-color: #5ab657;
    background-image: url(images/The-symbolic-beginning-of-the-nigredo-stage-rendered-by-dark-green-colour-palette-at.png);
    background-size: cover;
    background-repeat: none;
}
header {
    /* background-color: rgb(119, 91, 55); */
    height: 118px;
    text-align: center;
    font-family: fantasy;
   
}
img {
    height: 100px;
    width:auto;
}
#photo {
    height: 300px;
    width: auto;
    text-align: center;
    justify-self: auto;

}
nav {
    background-color: rgba(192, 30, 30, 0.322);
    /* height: 40px; */
    width: 1024px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    /* background-color: orange;  */
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;
}
section {
    height: auto;
    text-align: center;
    padding-right: 100px;
    
}
/* .mainPianist {
    height:450px
} */

footer {
    background-color: rgba(90, 9, 9, 0.185);
    /* height: 40px; */
  
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
h1 {
    font-size: 60px;
    color: rgb(226, 205, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    font-size: 40px;
    color:rgb(226, 205, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    font-size: 20px;
    color:rgb(226, 205, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 18px;
    color:  rgb(226, 205, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    color:  rgb(226, 205, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    /* text-decoration: none; */
}
nav a {
    text-decoration: none;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}
footer p {
    font-size: 14px;
    color:  rgb(226, 205, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    max-width: 960px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 40px;
}
.boxOne{
   justify-self: self-start;
    align-self: center;
    margin: 3px 3px 3px 3px;
    border-style: solid;
    border-color:rgba(90, 9, 9, 0.418);
    border-width: 5px;
    border-radius: 3px;

}
.boxTwo{
    justify-items: self-end;
    align-self: flex-start;
    text-align: center;
    
}
    


.wrapper1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 960px;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 40px;
    /* align-items: start;
    justify-items: end; */
}

.one {
    justify-self: baseline;
    align-self: flex-start;
   
}
.two {
    justify-self: self-end;
    align-self: center;
  
}


.three {
    justify-self: baseline;
    align-self: start;


}
.four{
    justify-self: self-end;
    align-self: center;
}
.five{
    justify-self: center;
    align-self: center;
}
.six{
    justify-self: center;
    align-self: center;
}
ul {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(226, 205, 166); 
    list-style-type: none;
    justify-content: start;
}
label, input, textarea {
    display: block;
    color:rgb(226, 205, 166);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type=text], [type=email]{
    color:black
}
textarea {
    color: black;
}
button {
    font-size: 25px;;
}
.mainContact {
    text-align: left;
}
.pianistBody {
    /* background-image: url(images/trebleClefForEste.jpg); */
    background-size: auto;
    background-repeat: none;
    background-size: 100%;
}