<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizza Orders</a></li>
      <li><a href="/pizzas/new">Order a Pizza</a></li>
      <li><a href="/customers">All Customers</a></li>
      <li><a href="/customers/new">Create a Customer</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
