<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/pizzas">All Pizza Orders</a></li>
      <li><a href="/pizzas/new">Order a Pizza</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>
