<h3>All the Customers!</h3>
<hr />
<% for customer in @customers %>
  <p>Name: <%= customer.pretty_name() %> </p>
  <p><a href="/customers/<%= customer.id %>">Show Customer</a></p>
  <hr />
<% end %>
