<form action="/customers" method="POST">

  <label for="first-name">First Name:</label>
  <input required type="text" id="first-name" name="first_name">

  <label for="last-name">Last Name:</label>
  <input required type="text" id="last-name" name="last_name">


  <input type="submit" value="Create Customer">

</form>
